body {
    background-color:#e9c46a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color:#264653;
    font-size:xx-large;
    font-weight: 900;
    text-align:center;
}

p{
    color: purple;
}

li{
color:coral;
font-size: large;
}
