 body {
    background-color:#e9c46a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: 10px dotted black;
}

h1 {
    color:#264653;
    font-size:xxx large;
    text-align:center;
    font-family: "Parkinsans", sans-serif;
}

h2 {
    color:#2a9d8f;
    margin-bottom:0;
}

div a {
 font-size: x-large;
 text-align: center;
}

img {
    border-top: 5px solid coral;
    border-bottom: 5px solid coral;
}

h4 {
    color:black;
    font-size: x-large;
    margin-bottom: 0;
   }

.program-border {
    background-color:#2a9d8f;
    width:80%;
    align-content: center;
    margin-left: 10.5%;
    margin-top: 20px;
    border-top: 5px solid black;
    border-bottom: 5px dotted black;
}

.program-title {
    color: black;
}

p {
    color:black;
    line-height:1;
    font-size: larger;
    margin-top: 0;
}

ul li{
color:coral;
font-size: x-large;
font-weight: 600;
font-style: italic;
}

.program_mgv {
background-color:#2a9d8f;
width:80%;
align-content:center;
margin-left: 10.5%;
margin-top:20px;
margin-bottom: 20px;
border-bottom: 5px solid black;
border-top: 5px dotted black;
}

.program_header {
    color: black;
    margin-bottom: 0;
}

footer {
background-color:coral;
margin: 50px 50 0 50;
padding: 10px;
border-top: 5px dotted black;
border-bottom:10px dotted black;
}